* text=auto

tests/Fixtures/blade-formatting/normalization/crlf.blade.php -text

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/CHANGELOG.md export-ignore
/README.md export-ignore
/RELEASE.md export-ignore
/UPGRADE.md export-ignore
/tests export-ignore

